{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="{% static 'img/favicon.ico' %}" rel="icon" type="image/x-icon">
    <title>
        {% block title %}
            GoogleBooksApp
        {% endblock %}
    </title>
</head>
<body>
<div class="container">
    <div class="pb-2">
        {% include 'gbooks/components/app_menu.html' %}
        <div class="text-end border-bottom">
            {% if user.is_authenticated %}
                library owner: {{ user.username }}
                {% else %}
                log in for library usage
            {% endif %}
        </div>
        {% block top %}
            {% include 'api/components/book_search.html' %}
        {% endblock %}
    </div>
    <div>
        {% block main %}
            main block
        {% endblock %}
    </div>
</div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
<footer class="mt-5 text-center">
    <span>
        Django 4 - Bootstrap
    </span><br>
    <span>
            &copyOTUS, 2023
    </span>
</footer>
</html>