<!-- Button trigger modal -->
{% if user.is_authenticated %}
    <button
            type="button"
            class="btn btn-outline-light h-25"
            data-bs-toggle="modal"
            data-bs-target="#modal-add-to-library"
    >
        add to library
    </button>
{% endif %}
<!-- Modal -->
<div
        class="modal fade"
        id="modal-add-to-library"
        tabindex="-1"
        aria-labelledby="addToLibrary"
        aria-hidden="true"
>
    <div class="modal-dialog">
        <div class="modal-content bg-modal">
            <div class="modal-header">
                <div>
                    <h3 class="modal-title">
                        '{{ book.title }}'
                    </h3>
                    <h4 class="modal-title">
                        {{ book.authors|join:", " }}
                        <br>
                        {{ book.date }}
                        <br>
                        {{ book.categories|join:", " }}
                    </h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-flex gap-5">
                    <div class="w-25">
                        {% include "gbooks/components/book_image.html" %}
                    </div>
                    <div class="w-75">
                        <form
                                method="POST"
                                action="{% url 'book' %}"
                        >
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="rubric">
                                    Rubric to be stored:
                                </label>
                                {% include "gbooks/components/../../library/components/select_rubrics.html" %}
                            </div>
                            <div class="form-group">
                                <label for="remarks">Remarks:</label>
                                <textarea
                                        id="remarks"
                                        class="form-control"
                                        name="remarks"
                                        placeholder="leave short note here"
                                ></textarea>
                            </div>
                            <input
                                    type="submit"
                                    class="hidden"
                                    id="add_book"
                                    name="add_book"
                                    value="{{ book.google_book_id }}"
                            />
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <label
                        for="add_book"
                        class="btn btn-success"
                >
                    Add a book to library
                </label>
            </div>

        </div>
    </div>
</div>
