<nav class="navbar navbar-expand-sm">
    <div class="container-fluid justify-content-between px-0">
        <div class="navbar-brand">
            <h1>Google Books API App</h1>
        </div>
        <div class="bg border border-white rounded">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        {% if request.path == "/" or request.path == "/book/" %}
                            <a class="nav-link text-success bg-white"
                               aria-current="page"
                               href="{% url 'books' %}"
                            >
                                API
                            </a>
                        {% else %}
                            <a class="nav-link text-white"
                               aria-current="page"
                               href="{% url 'books' %}"
                            >
                                API
                            </a>
                        {% endif %}
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            {% if request.path == "/library/" or request.path == "/library/book/" %}
                                <a class="nav-link text-success bg-white"
                                   aria-current="page"
                                   href="{% url 'library' %}"
                                >
                                    Library
                                </a>
                            {% else %}
                                <a class="nav-link text-white"
                                   aria-current="page"
                                   href="{% url 'library' %}"
                                >
                                    Library
                                </a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if request.path == "/logout/" %}
                                <a class="nav-link text-success bg-white"
                                   aria-current="page"
                                   href="{% url 'logout' %}"
                                >
                                    Logout
                                </a>
                            {% else %}
                                <a class="nav-link text-white"
                                   aria-current="page"
                                   href="{% url 'logout' %}"
                                >
                                    Logout
                                </a>
                            {% endif %}
                        </li>
                    {% else %}
                        <li class="nav-item">
                            {% if request.path == "/register/" %}
                                <a class="nav-link text-success bg-white"
                                   aria-current="page"
                                   href="{% url 'register' %}"
                                >
                                    Register
                                </a>
                            {% else %}
                                <a class="nav-link text-white"
                                   aria-current="page"
                                   href="{% url 'register' %}"
                                >
                                    Register
                                </a>
                            {% endif %}
                        </li>
                        <li class="nav-item">
                            {% if request.path == "/login/" %}
                                <a class="nav-link text-success bg-white"
                                   aria-current="page"
                                        {% if request.path == "/book/" %}
                                   href="{% url 'login' %}?next={{ request.get_full_path }}"
                                        {% else %}
                                   href="{% url 'login' %}"
                                        {% endif %}
                                >
                                    Login
                                </a>
                            {% else %}
                                <a class="nav-link text-white"
                                   aria-current="page"
                                        {% if request.path == "/book/" %}
                                   href="{% url 'login' %}?next={{ request.get_full_path }}"
                                        {% else %}
                                   href="{% url 'login' %}"
                                        {% endif %}
                                >
                                    Login
                                </a>
                            {% endif %}
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>