<div class="d-flex mb-4" style="padding-left: 1em;">
    <h2>
        {{ book.title }}
    </h2>
</div>
<div class="d-flex gap-5">
    <div>
        <a href="{{ book.store_link }}">
            <div class="w-25">
                {% include 'gbooks/components/book_image.html' %}
            </div>
        </a>
        <div class="mt-3 p-1">
            <span>country: {{ book.sale_country }}</span><br>
            <div>
                {% if book.is_ebook %}
                    <span>EBook: available</span>
                {% else %}
                    <span>EBook: no</span>
                {% endif %}
            </div>
            <div>
                <span>Total pages: {{ book.page_count }}</span>
            </div>
            {% if book.saleability %}
                <span>price: {{ book.retail_price }}</span>
                <span>{{ book.currency }}</span>
            {% else %}
                <span>Not for sale</span>
            {% endif %}
        </div>
    </div>
    <div class="w-75">
        <div>
            <div>
                {{ book.date }}
            </div>
            <div>
                {% for category in book.categories %}
                    <span>
                        {{ category }}
                    </span>
                {% endfor %}
            </div>
            <br>
            <div>
                <span>ISBN-10: {{ book.isbn_10 }}</span>
            </div>
            <div>
                <span>ISBN-13: {{ book.isbn_13 }}</span>
            </div>
        </div>
        <div class="mt-5" style="text-indent: 30px; text-align: justify;">
            {{ book.description }}
        </div>
        <div class="mt-5">
            {% for author in book.authors %}
                <span>
                {{ author }}
            </span><br>
            {% endfor %}
        </div>
    </div>
</div>

